doctype html
html(lang="en")
  head
    title YouDown
    link(rel="stylesheet" href="/css/app.css")
  body
    h1 Jade - node template engine
    
    script(src="/js/app.js")
  if livereload
    script(src="http://localhost:35729/livereload.js")